@import "vars.scss";

.reviewContainer {
  .infoBar {
    display: flex;
    align-items: flex-end;

    .avatar {
      margin-right: 2rem;
    }
  }
}


.reviewCategoryContainer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
	padding: 1rem 0;

  .descriptionText {
    font-size: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .title {
    margin-bottom: 1.5rem;
  }

  .line {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .lineCriterion {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.reviewProgressBar {
	margin-top: 3rem;
	margin-bottom: 1rem;
	border-radius: 4px;
  height: 0.75rem;
  width: 100%;
  display: table;
}

.reviewCriterionContainer {
  //background-color: white;
  .reviewCriterion {
    padding: 1rem 0;
    position: relative;
    display: grid;
    align-items: end;
    grid-template-columns: auto 30rem;
    textarea {
      max-width: 30rem;
    }
    p {
      font-size: 0.7rem;
    }

    .radioBar {
      display: flex;
      justify-content: space-around;

      input {
        z-index: 2;
      }
    }

    .radioBarInfo {
      height: 8px;
      background-color: #cecece;
      border-radius: 4px;
      position: absolute;
      width: 30rem;
      transform: translateY(-16px);
      display: flex;
      justify-content: space-around;
      padding: 0.25rem 0;

      .radioBarPositive,
      .radioBarNegative {
        width: 6rem;
        height: 8px;
        transform: translateY(-50%);
      }

      .radioBarPositive {
        background-color: #81c9a2;

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }

      .radioBarNegative {
        background-color: #ffbcbc;

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }

    input[type="radio"] {
      display: none;
    }

    label {
      z-index: 3;
    }

    label span {
      background: white;
      width: 20px;
      height: 20px;
      display: inline-block;
			transition: all 0.2s ease;
			z-index: 3;
			border: 5px solid #b7b7b7
      //box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    }

    input[type="radio"] + span {
      border-radius: 50%;
    }

    input[type="checkbox"]:checked + span,
    input[type="radio"]:checked + span {
      background: $logo;
      //box-shadow: none;
    }
  }
}

.radioBarDescriptionContainer {
  display: grid;
  align-items: center;
  grid-template-columns: auto 30rem;

  p {
    display: inline-block;
    vertical-align: baseline;
    font-size: 8px;
    text-transform: uppercase;
    width: 6rem;
  }

  .radioBarDescription {
    display: flex;
    justify-content: space-around;
    width: 30rem;
    text-align: center;
    padding: 0.25rem 0;
  }

  margin-bottom: 0.2rem;
}

.pinArrow {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid $bg-content;
  margin: 0 auto;
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  width: 24px;
}

.reviewNavigationContainer {
  background-color: $bg-header;
  z-index: 2;

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);

  /*
	&::after {
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 12px solid $bg-footer;
		display: block;
		margin: 0 auto;
		position: absolute;
		content: '';
		width: 0px;
		left: 0;
		right: 0;
	}
	*/
}

$navigationContentWidth: 1020px;

.reviewNavigation {
  display: grid;
  max-width: $navigationContentWidth;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.reviewNavigationExpansionContainer {
  background-color: $bg-header;
  padding: 0.25rem 1rem 0.5rem 1rem;
  width: 100%;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.05);
  transition: 0.05s;
  z-index: 1;
  display: none;

  .reviewNavigationExpansion {
    max-width: $navigationContentWidth;
    margin: 0 auto;
  }

  &.expanded {
    display: block;
  }

  .pinButton {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: 10px;
    }
  }
}

.miniAvatar {
  display: flex;
}

.pageNavOuter {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pageNavInner {
  display: grid;
  grid-template-columns: 80px auto 80px;

  p {
    text-align: center;
  }

  a:last-child {
    text-align: right;
  }

  margin: 0.8rem 0;
}

.buttonUserSave {
  width: 120px;
}

.form {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.navigationError {
  margin-bottom: 0 !important;
}

.reviewUserNavigationInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewUserNavigationInfo,
.reviewUserNavigation {
  > p,
  > a,
  > .miniAvatar {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.reviewIconNavigationBar {
  position: absolute;
}

.reviewUserNavigation {
  display: flex;
  align-items: center;
  &.last {
    justify-content: right;
  }
}

.reviewUserNavigationHeader {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-gap: 0.6rem;
  margin-bottom: 0.4rem;
}

.reviewUserButtonBar {
  display: flex;
  justify-content: right;
}

.userNav {
  display: grid;
  grid-template-columns: 260px auto 260px;
  align-items: center;
}

.row {
  background-color: $bg-content;
  padding: 1rem;
  margin: 0 auto;
  border-radius: $border-rounded-standard;
}
